@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<tr hx-get="/randomlist"
    hx-trigger="revealed"
    hx-swap="afterend">

    <td>Agent Smith</td>
    <td>void29@null.org</td>
    <td>55F49448C0</td>
</tr>
